@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.site-title {
    width: auto;
    line-height: normal;
    padding: 15px 0;
    color: rgb(18, 206, 37);
}
.site-title a {
    display: block;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
}
.food {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(247, 247, 155);
    max-width: 100%; /* 最大幅を指定 */
    width: 100%; /* 幅を100%に設定 */
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-left: 30px;
}

#header li a {
    color: #24292e;
}

#header li a:hover {
    opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
    margin-bottom: 90px;
    background-color: rgb(247, 247, 155); /* メニューにも背景色を追加 */
    width: 100%; /* 幅を100%に設定 */
    display: flex;
    justify-content: center; /* 画像を中央に配置 */
}

#mainvisual img {
    width: 100%; /* 幅を100%に設定 */
    max-width: 100%; /* 最大幅を指定 */
    height: auto; /* 高さを自動調整 */
    display: block;
}

/*-------------------------------------------
Menu
-------------------------------------------*/
#menu ul {
    display: flex;
    flex-wrap: wrap; /* 画像を折り返す */
    justify-content: space-between; /* 画像を等間隔に配置 */
    list-style-type: none; /* リストのマーカーを削除 */
    padding: 0; /* デフォルトのpaddingを削除 */
}

#menu li {
    flex-basis: calc(50% - 10px); /* 2つの画像を1段に表示（間隔含む） */
    margin-bottom: 20px; /* 行間を調整 */
    text-align: center; /* アイテム内のテキストを中央揃え */
}

#menu img {
    width: 100%; /* 画像を親要素の幅いっぱいに広げる */
    height: auto; /* 高さを自動調整 */
    object-fit: cover;
}



